- name: Ping
  hosts: all
  gather_facts: false
  tasks:
    - name: Ping
      ansible.builtin.ping:
    # - name: Print all available facts
    #   ansible.builtin.debug:
    #     var: ansible_facts

- name: Start
  hosts: group_1
  gather_facts: false
  become: true
  environment:
    # 设置代理
    no_proxy: localhost,127.0.0.1
    # http_proxy: 127.0.0.1:1081
    # https_proxy: 127.0.0.1:1081
  roles:
    - zabbix_agent2
  tasks:
    # - name: debug2
    #   shell: pwd
    #   register: result
    # - debug: var=result


# - name: Install monitor
#   hosts: {{ group }}
#   gather_facts: yes
#   # vars:
#   #   zabbix_agent_hostname: "{{ ansible_eno2['ipv4']['address'] }}" # 网卡是不确定的
#   vars_files:
#     - "vars/zabbix.yaml"
#   become: true
#   tasks:
#     - name: Ping
#       ansible.builtin.ping:
#     - name: debug
#       debug: var=zabbix_agent_hostname
#   roles:
#     - zabbix-agent2
